@font-face {
    font-family: 'Austral-Sans_Stamp-Regular';
    font-display: swap;
    src: url('/assets/fonts/AustralSansStamp-Regular.woff2') format('woff2'),
        url('/assets/fonts/AustralSansStamp-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --color-white: #ffffff;
    --color-black: #000000;
    --color-red: #8c0500;
    --color-light-red: #da2a2a;
    --box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-image: url('/assets/images/bg-red.webp');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Austral-Sans_Stamp-Regular';
    color: var(--color-white);
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin: 0;
}