@font-face {
    font-family: 'Austral-Sans_Stamp-Regular';
    font-display: swap;
    src: url('/assets/fonts/AustralSansStamp-Regular.woff2') format('woff2'),
        url('/assets/fonts/AustralSansStamp-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --color-white: #ffffff;
    --color-black: #000000;
    --color-red: #8c0500;
    --color-light-red: #da2a2a;
    --box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    --link-background: linear-gradient(40deg, #b38c5d, #00000000),
    url("data:image/svg+xml,%3Csvg viewBox='0 0 250 250' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
}

body {
    background-image: url('/assets/images/background-gevel-01.png');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Austral-Sans_Stamp-Regular';
    color: var(--color-white);
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin: 0;
}