@font-face {
    font-family: 'Austral-Sans_Stamp-Light';
    src: url('assets/fonts/Austral-Sans_Stamp-Light.otf');
}

@font-face {
    font-family: 'Austral-Sans_Stamp-Thin';
    src: url('assets/fonts/Austral-Sans_Stamp-Thin.otf');
}

@font-face {
    font-family: 'Austral-Sans_Stamp-Regular';
    src: url('assets/fonts/Austral-Sans_Stamp-Regular.otf');
}

:root {
    --color-white: #ffffff;
    --color-black: #000000;
    --color-red: #8c0500;
    --color-light-red: #da2a2a;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin: 0;
}